/* your custom css */
body {
  font-family: $fontMain;
  font-size: 18px;
}

pre,
code {
  font-family: $fontCode;
}

/* highlighted code blocks */
.hljs {
  font-size: 13px;
}

.projectTaglineWrapper {
  display: flex;
  justify-content: center;
}

.projectTagline {
  max-width: 500px;
  flex: 1;
  font-size: 115%;
}

.imageAlignSide .blockImage {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Reset link styling because they aren't visible with a dark primary color */
a {
  color: $secondaryColor;
}

/* Change styling of selected navigation item */
.container .docsNavContainer {
  padding-left: 12px;
}

.navListItemActive {
  position: relative;
}

.navListItemActive a.navItem {
  color: red !important;
}

.navListItem,
.subNavGroup {
  padding-left: 1rem !important;
}

.navListItem.navListItemActive:before {
  content: '🐙';
  position: absolute;
  left: -0.5rem;
  bottom: 0;
}

/* Change styling of logos in showcaseSection */
.productShowcaseSection .logos img,
.showcaseSection .logos img {
  width: auto;
  max-width: 250px;
}

/* Code Tabs */
.nav-tabs {
  background-color: #fff;
  border-bottom: none;
}

.tabs .nav-tabs > div {
  font-size: 12px;
  padding: 6px 24px;
  font-weight: 500;
}

.tabs .nav-tabs > div.active {
  border-bottom: none;
  background: #f0f0f0; /* same as code block */
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.tabs {
  border-top: none;
}

details > summary {
  cursor: pointer;
}

/* Responsive */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
  .projectTitle {
    margin-top: 80px;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1200px) {
  .homeContainer .homeWrapper .projectLogo img {
    max-height: 128px;
    max-width: 128px;
    height: auto;
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

/* codefund ads */
#codefund-container {
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  padding-bottom: 15px;
  height: 155px;
  font-size: 12px;
  z-index: 1;
}

#codefund-container #codefund {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* mobile */
@media (max-width: 624px) {
  #codefund-container #cf {
    width: auto !important;
  }
  #codefund-container .cf-img-wrapper {
    float: left;
    margin-right: 10px;
  }
}

/* tablet */
@media (min-width: 625px) {
  #codefund-container {
    float: right;
    width: 165px;
    padding-left: 25px;
    height: auto;
  }
}

/* desktop */
@media (min-width: 1024px) {
  #codefund-container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    height: auto;
  }
}
