:root {
  --ifm-light-background-color: var(--ifm-color-emphasis-100);
}

[data-theme='dark']:root {
  --ifm-color-primary: #7FA8F1;
  --ifm-link-color: #7FA8F1;
  --docsearch-muted-color: white;
}

[data-theme='light']:root {
  --ifm-color-primary: #1554B7;
  --ifm-link-color: #1554B7;
  --docsearch-muted-color: #494B5F;
}

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 70px;
  margin-top: 30px;
}

.help-heading-1 {
  font-size: 3em;
  margin-bottom: 30px;
}

.help-heading-2 {
  font-size: 2.5em;
  margin: 30px 0;
}

.center {
  display: block;
}

.center,
.homeContainer {
  text-align: center;
}

.homeContainer .homeWrapper {
  padding: 2em 10px;
}

.homeContainer .homeWrapper .wrapper {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 20px;
}

.homeContainer .homeWrapper .projectLogo img {
  height: 100px;
  margin-bottom: 0;
}

.homeContainer .homeWrapper #project_title {
  font-size: 300%;
  letter-spacing: -0.08em;
  line-height: 1em;
  margin-bottom: 80px;
}

.homeContainer .homeWrapper #project_tagline {
  font-size: 200%;
  letter-spacing: -0.04em;
  line-height: 1em;
}

.projectLogo {
  display: none;
  pointer-events: none;
}

.projectLogo img {
  height: 100px;
  margin-bottom: 0;
}

.projectTitle {
  font-size: 250%;
  line-height: 1em;
}

.theme-doc-markdown {
  --ifm-link-decoration: underline;
}

@media only screen and (min-width: 480px) {
  .projectTitle {
    font-size: 300%;
    margin: 0.3em 0;
  }

  .projectLogo img {
    height: 200px;
    margin-bottom: 10px;
  }

  .homeContainer .homeWrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 736px) {
  .homeContainer .homeWrapper {
    position: relative;
  }

  .homeContainer .homeWrapper #inner {
    max-width: 600px;
    padding-right: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .homeContainer .homeWrapper #inner {
    max-width: 750px;
  }

  .homeContainer .homeWrapper .projectLogo {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    left: 0;
    padding: 2em 100px 4em;
    position: absolute;
    right: 0;
    top: 0;
  }

  .homeContainer .homeWrapper .projectLogo img {
    height: 100%;
    max-height: 250px;
  }
}

@media only screen and (min-width: 1500px) {
  .homeContainer .homeWrapper #inner {
    max-width: 1100px;
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

.mainContainer {
  flex: 1 1 0%;
  max-width: 100%;
  margin-bottom: 50px;
}

.mainContainer .wrapper {
  text-align: left;
}

.gridBlock {
  padding: 0;
}

.gridBlock > * {
  box-sizing: border-box;
}

.gridBlock .fourByGridBlock img,
.gridBlock .threeByGridBlock img,
.gridBlock .twoByGridBlock img {
  max-width: 100%;
}

.gridBlock .gridClear {
  clear: both;
}

@media only screen and (max-width: 735px) {
  .gridBlock .fourByGridBlock {
    flex: 1 0 26%;
  }
}

@media only screen and (min-width: 736px) {
  .gridBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .gridBlock > * {
    margin: 0 12px;
  }

  .gridBlock .twoByGridBlock {
    flex: 1 0 40%;
  }

  .gridBlock .threeByGridBlock {
    flex: 1 0 26%;
  }

  .gridBlock .fourByGridBlock {
    flex: 1 0 20%;
  }

  h2 + .gridBlock {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 1400px) {
  .gridBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.imageAlignSide {
  display: flex;
  flex-flow: row wrap;
}

.blockImage {
  max-width: 730px;
}

.imageAlignSide .blockImage {
  flex: 0 1 500px;
  max-width: 500px;
}

@media only screen and (max-width: 735px) {
  .imageAlignSide .blockImage {
    display: none;
  }
}

.imageAlignSide .blockContent {
  flex: 1 1;
}

.imageAlignBottom .blockImage {
  margin: 0 auto 20px;
  max-width: 730px;
}

.imageAlignBottom.alignCenter .blockImage {
  margin-left: auto;
  margin-right: auto;
}

.imageAlignTop .blockImage {
  margin-bottom: 20px;
  max-width: 80px;
}

.imageAlignTop.alignCenter .blockImage {
  margin-left: auto;
  margin-right: auto;
}

.imageAlignRight .blockImage {
  margin-left: 40px;
}

.imageAlignLeft .blockImage {
  margin-right: 40px;
}

.block-container .gridBlock .blockContent p {
  padding: 0;
}

.block-container .wrapper .alignCenter h2 {
  text-align: center;
}

.block-container .wrapper .imageAlignSide h2 {
  text-align: left;
}

.block-container .wrapper .imageAlignSide p {
  margin: 0 0 40px;
  max-width: 560px;
}

.block-container {
  padding-left: 1rem;
  padding-left: var(--ifm-spacing-horizontal);
  padding-right: 1rem;
  padding-right: var(--ifm-spacing-horizontal);
  width: 100%;
}

.block-container.lightBackground {
  background: var(--ifm-light-background-color);
}

.block-container .wrapper {
  margin: 0 auto;
  max-width: 1140px;
  max-width: var(--ifm-container-width);
}

.highlightBackground {
  background: rgba(153, 66, 79, 0.7);
  color: #fff;
}

.highlightBackground a {
  font-weight: 800;
}

.block-container.paddingAll {
  padding: 40px;
}

.block-container.paddingBottom {
  padding-bottom: 80px;
}

.block-container.paddingLeft {
  padding-left: 40px;
}

.block-container.paddingRight {
  padding-right: 40px;
}

.block-container.paddingTop {
  padding-top: 80px;
}

@media only screen and (max-width: 735px) {
  .block-container.paddingBottom {
    padding-bottom: 40px;
  }

  .block-container.paddingTop {
    padding-top: 20px;
  }
}

.productShowcaseSection {
  padding: 0 20px;
  text-align: center;
}

.productShowcaseSection.paddingTop {
  padding-top: 20px;
}

.productShowcaseSection.paddingBottom {
  padding-bottom: 80px;
}

.productShowcaseSection .logos {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px;
}

.productShowcaseSection .logos img {
  max-height: 110px;
  padding: 20px;
  width: 110px;
}

@media only screen and (max-width: 735px) {
  .productShowcaseSection .logos img {
    max-height: 64px;
    padding: 20px;
  }
}

.showcaseSection {
  margin: 0 auto;
  max-width: 900px;
}

.showcaseSection,
.showcaseSection .prose h1 {
  text-align: center;
}

.showcaseSection .prose {
  margin: 0 auto;
  max-width: 560px;
  text-align: center;
}

.showcaseSection .logos {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.showcaseSection .logos img {
  max-height: 128px;
  padding: 20px;
  width: 128px;
}

@media only screen and (max-width: 735px) {
  .wrapper {
    padding: 0 20px;
  }
  .showcaseSection .logos img {
    max-height: 64px;
    padding: 20px;
    width: 64px;
  }
}

.awardsSection {
  padding: 0 20px;
  text-align: center;
}

.awardsSection .imageAlignTop .blockImage {
  max-width: 200px;
  margin-bottom: 50px;
  height: 200px;
}

body {
  font-family: Source Sans Pro, 'sans-serif';
  font-size: 18px;
}

code,
pre {
  font-family: IBM Plex Mono, 'monospace';
}

.projectTaglineWrapper {
  display: flex;
  justify-content: center;
}

.projectTagline {
  max-width: 500px;
  flex: 1;
  font-size: 115%;
}

.imageAlignSide .blockImage {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productShowcaseSection .logos img,
.showcaseSection .logos img {
  width: auto;
  max-width: 250px;
}

details.alert {
  --ifm-alert-border-color: var(--ifm-link-color);
  border: none;
  background: none;
  box-shadow: none;
  padding: 0;
}

details.alert div {
  border-top: none;
  padding-top: 0;
}

@media only screen and (min-width: 1024px) {
  .projectTitle {
    margin-top: 80px;
  }
}

@media only screen and (min-width: 1200px) {
  .homeContainer .homeWrapper .projectLogo img {
    max-height: 128px;
    max-width: 128px;
    height: auto;
  }
}
